body{

    background-color: aqua;
}


h1 {
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }
  
  table,


  td {
    border: 5px solid lightseagreen;
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    margin: 10px 0;
  }
  
  td {
    padding: 12px;
  }
  
  .matrix {
    display: flex;
    justify-content: center;
  }
