body {
    background-color: #f5f5ec;
    text-align: center;
    font-family: monospace;
    width: 100%;
    height: 100%;
  }

  table,
  td {
    border: 1px solid rgb(0, 0, 0);
  }

  table {
    border-collapse: collapse;
    margin: 12px 0;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }

  td {
    padding: 12px;
  }

  h1 {
    text-align: center;
    border-style: solid;
    padding: 6px;
    font-family: monospace;
  }

  p {
    border-style: solid;
  }
