h1 {
  text-align: center;
}

h2 {
  text-align: center;
  color: grey
}

table,
td {
  border: 1px solid black;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 12px 0;
}

td {
  padding: 12px;
}

.matrix {
  display: flex;
  justify-content: center;
}
