header {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    background: #bdbdbd;
    border-radius: 20px;
    border: 15px solid #999;
    border-color: #bdbdbd;
}

table,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 12px 0;
}

td {
    padding: 5px;
}